SOURCE_DIR=/Users/adamrossmini/Library/Mobile Documents/com~apple~CloudDocs/Personal/Family/Family Videos
BUNNY_ACCOUNT_API_KEY=
BUNNY_STORAGE_ZONE_NAME=
BUNNY_STORAGE_ZONE_PASSWORD=
FAMILY_PASSPHRASE=
